// ==========================================================================
// Global changes
// ==========================================================================
body {
  font-family: $font-sans;
}

body,
html,
.section {
  height: 100%;
}

.section {
  min-height: 100vh;
  width: 100%;
  background: $background;
}
